extend form 

block formFields 
    
  +requiredTextField('name', 'Name', item.name)
  +requiredSelectField('armorType', 'Armor type', armorTypes, item.armorType)
  +requiredSelectField('size', 'Size', sizes, item.size)
  +requiredNumberField('costGp', 'Cost (gp)', item.costGp)
  +requiredTextField('armorClass', 'Armor Class', item.armorClass)
  +requiredNumberField('minStrength', 'Minimum strength', item.minStrength)
  +requiredSelectField(
    'stealthDisadvantage',
    'Gives disadvantage on stealth checks?',
    ['false', 'true'],
    item.stealthDisadvantage
  )
  +requiredNumberField('weightLb', 'Weight (lb)', item.weightLb)
  +optionalTextArea('description', 'Description', item.description)


    
