extends layout 

block content 
  include mixins/formElements

  h1= title 

  if errors 
    .alert.alert-danger(role='alert')
      p Correct the following errors: 
      ul 
        for error in errors 
          li= error.msg

  form(method='POST' action='')
    p.mb-3 Fields marked with * are required
    
    +requiredTextField('name', 'Name', item.name)
    +requiredSelectField('armorType', 'Armor type', armorTypes, item.armorType)
    +requiredSelectField('size', 'Size', sizes, item.size)
    +requiredNumberField('costGp', 'Cost (gp)', item.costGp)
    +requiredTextField('armorClass', 'Armor Class', item.armorClass)
    +requiredNumberField('minStrength', 'Minimum strength', item.minStrength)
    +requiredSelectField(
      'stealthDisadvantage',
      'Gives disadvantage on stealth checks?',
      ['false', 'true'],
      item.stealthDisadvantage
    )
    +requiredNumberField('weightLb', 'Weight (lb)', item.weightLb)
    +optionalTextArea('description', 'Description', item.description)
    +submitButton()

    
