extends layout 

block content 
  h1!= `Cannot delete ${displayName}`

  .alert.alert-danger(role='alert')
    p Remove the item from each store's inventory first.
  
  ul 
    for shop in shops 
      li 
        a(href=shop.url)!= shop.displayName
  
  include mixins/formElements
  +cancelButton()
