doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.sidebarNav
      a(href='/weapons/') All weapons
      a(href='/armor/') All armor
      a(href='/shops/') All shops
    main
      block content
