extends layout 

block content 
  include mixins/formElements

  h1= title 

  if errors 
    .alert.alert-danger(role='alert')
      p Correct the following errors: 
      ul 
        for error in errors 
          li= error.msg

  form(method='POST' action='')
    p.mb-3 Fields marked with * are required

    +optionalTextField('name', 'Name', item.name)
    +optionalTextArea('description', 'Description', item.description)
    
    fieldset.mb-3
      legend Weapons in stock 

      each weapon in allWeapons
        +inventoryRowField(`weapon.${weapon._id}`, weapon.name, weaponsStock[weapon._id])
    
    fieldset.mb-3
      legend Armor in stock 

      each armor in allArmor
        +inventoryRowField(`armor.${armor._id}`, armor.name, armorStock[armor._id])

    +submitButton()
