extends form 

block formFields 

    +optionalTextField('name', 'Name', item.name)
    +optionalTextArea('description', 'Description', item.description)
    
    fieldset.mb-3
      legend Weapons in stock 

      each weapon in allWeapons
        +inventoryRowField(`weapon.${weapon._id}`, weapon.name, weaponsStock[weapon._id])
    
    fieldset.mb-3
      legend Armor in stock 

      each armor in allArmor
        +inventoryRowField(`armor.${armor._id}`, armor.name, armorStock[armor._id])

